[submodule "Apache-Hadoop-Environment"]
	path = Apache-Hadoop-Environment
	url = https://github.com/bayudwiyansatria/Apache-Hadoop-Environment.git
[submodule "Apache-Spark-Environment"]
	path = Apache-Spark-Environment
	url = https://github.com/bayudwiyansatria/Apache-Spark-Environment.git
