[submodule "Apache-Hadoop-Environment"]
	path = Apache-Hadoop-Environment
	url = git@github.com:bayudwiyansatria/Apache-Hadoop-Environment.git
	master = master
[submodule "Apache-Spark-Environment"]
	path = Apache-Spark-Environment
	url = git@github.com:bayudwiyansatria/Apache-Spark-Environment.git
	master = master
